@model IEnumerable<TVShowsNetworks.Models.TVshow>

@{
    ViewBag.Title = "Index";
}

<h2>TV Shows</h2>
<!--
<p>
    @using (Html.BeginForm("Index", "TVnetworks", FormMethod.Get))
    {
        <b>Search by:</b>
        @Html.RadioButton("searchBy", "Title", true) <text>Title</text>
        @Html.RadioButton("searchBy", "TVnetwork.Name", true) <text>Network</text>
        <br />
        @Html.TextBox("Search")<input type="submit" value="Search" />
    }
</p>
<p>
    @Html.ActionLink("Reset", "Index", "TVnetworks")
</p>

@foreach (var item in Model)
{
    <!--
    using (Html.BeginForm("Index", "Shows", FormMethod.Get))
    {
        -->

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail shows">
                    <img src="http://images.christianpost.com/full/74899/sherlock.jpg" alt="Show Photo">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Genre)</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        <!--
        <div>
            <div>
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <td>
                @Html.DisplayFor(modelItem => item.TVnetwork.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>

        </div>

            -->

}
