@model IEnumerable<TVShowsNetworks.Models.TVnetwork>

@{
    ViewBag.Title = "Index";
}

<h2>TV Networks</h2>


@using (Html.BeginForm("Index", "TVnetwork", FormMethod.Get))
{
    <p>
        <b>Search by Network</b>
        <br />
        @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<p>
    @Html.ActionLink("Reset", "Index", "TVnetworks")
</p>

@foreach (var item in Model)
{
    using (Html.BeginForm("Index", "Shows", FormMethod.Get))
    {
        <div>
            <div class="col-sm-6 col-md-4">
                    <input type="hidden" name="network" value=@item.NetworkID>
                    <input type="image" src="@Html.DisplayFor(modelItem => item.Logo)" alt="Logo Photo" class="img-thumbnail network" />
            </div>
        </div>
    }
}


<!--
<ul class="item">
    <li class="col-xs-6 col-md-3">
        <div class="img-thumbnail"></div>
            <img src="@Html.DisplayNameFor(model => model.Logo)" alt="...">
    </li>
-->
<!--
<div class="item">
    <div>
        <div>
            @Html.DisplayNameFor(model => model.Logo)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>
    </div>
    
@foreach (var item in Model) {
    <li>
        <div>
            <img src="@Html.DisplayFor(modelItem => item.Logo)" alt="" class="img-thumbnail small-thumbnail" />
        </div>
        
    </li>
}

</ul>
    -->