@model IEnumerable<TVShowsNetworks.Models.TVnetwork>

@{
    ViewBag.Title = "Index";
}

<h2>TV Networks</h2>

<p>
    @using (Html.BeginForm("Index", "TVnetwork", FormMethod.Get))
    {
        <b>Search by Network</b>
        <br />
        @Html.TextBox("Search")<input type="submit" value="Search" />
    }
</p>

<p>
    @Html.ActionLink("Reset", "Index", "TVnetworks")
</p>

<div class="table">
    <div>
        <div>
            @Html.DisplayNameFor(model => model.Logo)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>
    </div>

@foreach (var item in Model) {
    <div>
        <div>
            <img src="@Html.DisplayFor(modelItem => item.Logo)" alt="" class="img-thumbnail small-thumbnail" />
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        
    </div>
}

</div>
